<ion-view view-title="Word">
  <ion-content>

    <div class="list card">
      <div class="item item-divider">
        {{ vm.parola.sh }}
      </div>

      <ion-item class="item item-icon-left" ng-repeat="type in vm.parola.grammarStrings">
        <i class="icon icon-info"></i>
        {{ type }}
      </ion-item>

      <item class="item item-icon-left" ng-if="!!vm.parola.it">
        <i class="icon icon-ita"></i>
        {{ vm.parola.it }}
      </item>

      <item class="item item-icon-left" ng-if="!!vm.parola.en">
        <i class="icon icon-eng"></i>
        {{ vm.parola.en }}
      </item>

      <item class="item item-icon-left" ng-if="!!vm.parola.pinji">
        <i class="icon icon-comment"></i>
        {{ vm.parola.pinji }}
      </item>
    </div>

    <br>

    <div class="list card" ng-if="!!vm.parola.faukonIDs">
      <div class="item item-divider">
        Compare in frasi:
      </div>
      <ion-item ng-repeat="phraseId in vm.parola.faukonIDs | orderBy: 'faukonIDs'">
        {{ phraseId }}
      </ion-item>
    </div>

  </ion-content>
</ion-view>