<ion-view view-title="Phrase">
    <ion-content>
  
      <div class="list card">
        <div class="item item-divider item-text-wrap">
          {{ vm.frase.sh }}
        </div>
        
        <item class="item item-icon-left item-text-wrap" ng-if="!!vm.frase.it">
          <i class="icon icon-ita"></i>
          {{ vm.frase.it }}
        </item>
  
        <item class="item item-icon-left item-text-wrap" ng-if="!!vm.frase.en">
          <i class="icon icon-eng"></i>
          {{ vm.frase.en }}
        </item>
  
        <item class="item item-icon-left item-text-wrap" ng-if="!!vm.frase.pinji">
          <i class="icon icon-comment"></i>
          {{ vm.frase.pinji }}
        </item>
      </div>
      <br>
  
    </ion-content>
  </ion-view>